.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-text {
  position: absolute;
  color: white;
  text-align: right;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .banner-container {
    img {
      width: 100%;
      height: auto;
    }
  }
  .banner-text {
    position: relative;
    text-align: center;
    background-color: #ccc;
    padding: 20px 0;
    h1 {
      font-size: 60px;
    }
    H2 {
      font-size: 30px;
    }
  }
}
